################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeSummer.vn/v15/Server/sqlite3/db.lock
/.vs/CodeSummer.Club/v15/Server/sqlite3/db.lock
