
<div class="card">
    <div class="card-header badge-danger">THỐNG KÊ</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Bài viết <span class="badge badge-danger align-content-around">@ViewBag.Count</span> </li>
        </ul>
    </div>
</div>
